.inline-block-element {
    display: inline-block;
    width: 150px;
    height: 100px;
}

.inline-block-element2 {
    width: 150px;
    height: 100px;
}

.element1 {
    background-color: lightblue;
}

.element2 {
    background-color: lightgreen;
}