html {
    font-size: 24px;
}

body {
    background-color: rgb(160, 183, 203);
}


.newspaper {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    width: 90%;
    background-color: rgb(218, 215, 208);
    margin: 40px auto;
    padding: 8px 20px;
    border: 5px dotted rgb(160, 183, 203);
}

.name {
    font-size: 2rem;
    font-family: 'Times New Roman', serif;
    text-align: center;
    margin-bottom: 0;
}

.date {
    text-align: center;

}

.name, .author {
    text-transform: uppercase;
}

.headline {
    font-size: 2em;
    font-weight: bold;
}

.sub-headline {
    font-style: italic;
    font-weight: 100;
    font-size: 1.5em;
}

.author {
    font-weight: bold;
}

.text {
    text-indent: 20px;
    line-height: 2em;
}

.text::first-letter {
    font-weight: bold;
    font-size: 2em;
}
