.newspaper-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-areas:
        'title title title'
        'feature-article feature-article cover-image'
        'secondary-article secondary-article cover-image'
        'small-article1 small-article2 small-article3'
    ;
    gap: 16px;
}

.title {
    grid-area: title;
}

.feature-article {
    grid-area: feature-article;
}

.cover-image {
    grid-area: cover-image;
}

.secondary-article {
    grid-area: secondary-article;
}

.small-article1 {
    grid-area: small-article1;
}

.small-article2 {
    grid-area: small-article2;
}

.small-article3 {
    grid-area: small-article3;
}

.cover-image img {
    max-width: 100%;
}