:root {
    --color0: #ffffff;
    --color1: #96efff;
    --color2: #33ec17;
    --color3: #ddff00;
    --color4: #ffb223;
    --color5: #f23524;
    --solid-border: 1px solid black;
    --dashed-border: 1px dashed black;
}

table {
    border-collapse: collapse;
}

tr,
td {
    width: 80px;
    height: 15px;
}

.available-0 {
    background-color: var(--color0);
}

.available-1 {
    background-color: var(--color1);
}

.available-2 {
    background-color: var(--color2);
}

.available-3 {
    background-color: var(--color3);
}

.available-4 {
    background-color: var(--color4);
}

.available-5 {
    background-color: var(--color5);
}

.sharp td {
    border-left: var(--solid-border);
    border-right: var(--solid-border);
    border-bottom: var(--solid-border);
}

.sharp th:not(.time) {
    border-bottom: var(--solid-border);
}

.half td {
    border-left: var(--solid-border);
    border-right: var(--solid-border);
    border-bottom: var(--dashed-border);
}

#legend-gradient {
    width: 100px;
    height: 20px;
    background-image: linear-gradient(90deg,
            var(--color0) 0%,
            var(--color0) 16%,
            var(--color1) 16%,
            var(--color1) 33%,
            var(--color2) 33%,
            var(--color2) 50%,
            var(--color3) 50%,
            var(--color3) 67%,
            var(--color4) 67%,
            var(--color4) 84%,
            var(--color5) 84%,
            var(--color5) 100%)
}